#body {
    color: black;
    font-family: verdana;
    font-size: 100%;
}
#table, #td, #td {
    border: 1px solid black;
    border-collapse: collapse;
	table-layout:fixed;
}
#td, #td {
    padding: 10px;
	text-align: center;
}

#emptyCells {
    padding: 15px;
}

#thkUp {
	border-top-width: thick;
	padding: 0px;
}

#smlTxt {
	font-size: 75%;
}

#normalCell {
	padding: 0px;
}


/* Tab styles */
#div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Tab button styles */
#div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* button hover styles */
div.tab button:hover {
    background-color: #ddd;
}

/* create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* tabcontent style */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}