<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="static/style.css">

</head>
<body>

<h2>Lifeguard Rota</h2>


<div class="tab">
  <button class="tablinks" onclick="location.href='/rota'">Rota View</button>
  <button class="tablinks" onclick="location.href='/create'">Create View</button>
  <button class="tablinks" onclick="location.href='/edit'">Edit View</button>
</div>

<h1>Creation Screen</h1>

<button>Gennerate rota template</button>

<script src="javascript.js"></script>


</body>
</html>